pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.38
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.38.deb
	source = openwork-0.11.38.deb::https://github.com/different-ai/openwork/releases/download/v0.11.38/openwork-desktop-linux-amd64.deb
	sha256sums = c1489a84a2842c71c73b54f478ff8db2dc0f57e10e8ee9bc021eb86ef2e5a68a

pkgname = openwork
